
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f8fafc;
}

/* NAVBAR */
.navbar {
  background: #020617;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.logo {
  color: #38bdf8;
}

/* HERO */
.search {
  background: linear-gradient(135deg, #2563eb, #1e3a8a);
  color: white;
  text-align: center;
  padding: 70px 20px;
}

.filters input,
.filters select {
  padding: 12px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

.filters button {
  padding: 12px 20px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: white;
}

.stats h3 {
  color: #2563eb;
  font-size: 28px;
}

/* JOBS */
.job-section {
  padding: 50px;
}

.job-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.job-card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.job-card:hover {
  transform: translateY(-6px);
}

.badge {
  background: #2563eb;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.remote { background: #16a34a; }
.intern { background: #f97316; }

.job-card button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
}

/* CATEGORIES */
.categories {
  background: #e0f2fe;
  padding: 50px;
  text-align: center;
}

.cat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.cat-grid div {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

/* WHY US */
.why-us {
  padding: 50px;
  text-align: center;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 30px;
}

/* NEWSLETTER */
.newsletter {
  background: #020617;
  color: white;
  text-align: center;
  padding: 50px;
}

.newsletter input {
  padding: 10px;
  width: 250px;
  margin: 10px;
}

/* FOOTER */
.footer {
  background: #020617;
  color: white;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.footer a {
  display: block;
  color: #cbd5f5;
  text-decoration: none;
  margin-top: 5px;
}
